In [2]:
import pandas as pd

In [3]:
file = 'Library_Usage.csv'

In [4]:
data = pd.read_csv(file)

In [5]:
data

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437110,0,Adult,14,11,45 to 54 years,x,Main,August,2004.0,z,Email,True,2003,False
437111,0,Adult,2,0,45 to 54 years,x,Main,August,2004.0,z,Email,True,2003,True
437112,3,Senior,5,0,75 years and over,e7,Eureka Valley,August,2004.0,p,Phone,False,2003,True
437113,3,Senior,4,0,65 to 74 years,m6,Mission,August,2004.0,z,Email,True,2004,True
437114,3,Senior,3,9,65 to 74 years,p9,Presidio,August,2004.0,z,Email,True,2004,True

+ Wie viele Merkmale besitzt der Datensatz?
 13 Spalten
 davon 3 Spalten, die den Code für eine weitere Spalte zeigen
 das bedeutet es sind 10 Merkmale
 df.info()
+ Wie groß ist die Stichprobengröße des Datensatzes?
 437115
 df.info()
+ Wer oder was sind die Merkmalsträger?
 Nutzende der Städtischen Bibliotheken
+ Von wann bis wann wurden die Daten erhoben?
 Seit 2004 werden die Daten erhoben, seit einem Systemwechsel - steht in der Excel-Tabelle, bis 2022
 df.max()
+ Wie lässt sich die Grundgesamtheit beschreiben? Handelt es sich um eine Vollerhebung?
 Die Grundgesamtheit sind alle eingeschriebenen Nutzer:innen, insofern Vollerhebung. Weil nicht alle Merkmale eine Ausprägung haben (nicht alle leihen aus oder haben eine Altersangabe (age range), ist die Teilgesamtheit nur für die Menge gültig, die in allen Merkmalen eine Ausprägung haben.
+ Welche Merkmale sind stetig? Welche diskret?
 diskret: patron type, age range, home library, notice preference, within SF county
 stetig: total checkouts, total renewals, year patron registered, circulation activity, email address
+ Welchem Skalenniveau entsprechen die einzelnen Merkmale (Nominal-, Ordinal- oder Metrische Skala)?
 'Patron Type Code'
 'Patron Type Definition'
 'Total Checkouts',
 'Total Renewals'
 'Age Range', 'Home Library Code'
 'Home Library Definition'
 'Circulation Active Month'
 'Circulation Active Year'
 'Notice Preference Code'
 'Notice Preference Definition'
 'Provided Email Address'
 'Year Patron Registered'
 'Within San Francisco County' 
+ Enthält der Datensatz fehlende Werte?
 ja ...
+ Handelt es sich um Querschnitts-, Längsschnitss- oder Paneldaten?
 ...

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437115 entries, 0 to 437114
Data columns (total 14 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              437115 non-null  int64
 1   Patron Type Definition        437115 non-null  object
 2   Total Checkouts               437115 non-null  int64
 3   Total Renewals                437115 non-null  int64
 4   Age Range                     436188 non-null  object
 5   Home Library Code             437113 non-null  object
 6   Home Library Definition       437115 non-null  object
 7   Circulation Active Month      396523 non-null  object
 8   Circulation Active Year       396523 non-null  float64
 9   Notice Preference Code        437115 non-null  object
 10  Notice Preference Definition  437115 non-null  object
 11  Provided Email Address        437115 non-null  bool
 12  Year Patron Registered        437115 non-null  int64
 13  Within San Francisco County   437115 non-null  bool
dtypes: bool(2), float64(1), int64(4), object(7)
memory usage: 40.9+ MB

In [17]:
type(data)

pandas.core.frame.DataFrame

In [25]:
data.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [30]:
data['Patron Type Definition'].unique()

array(['Juvenile', 'Teen', 'Adult', 'Senior', 'Welcome',
       'Digital Access Card', 'Bibliocommons', 'Teacher Card',
       'Library By Mail', 'Staff', 'At User Senior', 'At User Adult',
       'Visitor', 'Retired Staff', 'At User Welcome', 'At User Juvenile',
       'Business', 'At User Teen'], dtype=object)

In [41]:
years = data['Year Patron Registered'].unique()

In [44]:
years

array([2022, 2019, 2021, 2013, 2014, 2020, 2015, 2017, 2007, 2016, 2018,
       2012, 2003, 2008, 2006, 2010, 2011, 2005, 2009, 2004])

In [51]:
years.max()

2022

In [52]:
years.min()

2003