In [1]:
import pandas as pd

In [2]:
list_of_strings = ["Value 1", "Value 2", "Value 3", "Value 4"]
list_of_integers = [1, 3, 6, 7]

In [3]:
series_of_strings = pd.Series(list_of_strings)

In [4]:
print(series_of_strings)

0    Value 1
1    Value 2
2    Value 3
3    Value 4
dtype: object

In [5]:
labeled_series = pd.Series(list_of_integers, index = list_of_strings)

In [6]:
print(labeled_series)

Value 1    1
Value 2    3
Value 3    6
Value 4    7
dtype: int64

In [21]:
verkaeufe = {"Tag 1": 120, "Tag 2": 330, "Tag 3": 250, "Tag 4": 270}
series_verkaeufe = pd.Series(verkaeufe)
print(series_verkaeufe)

Tag 1    120
Tag 2    330
Tag 3    250
Tag 4    270
dtype: int64

In [22]:
series_verkaeufe["Tag 2"]

330

In [23]:
series_verkaeufe[1]

330

In [24]:
series_verkaeufe.to_list()

[120, 330, 250, 270]

In [25]:
for value in series_verkaeufe:
    print(value)

120
330
250
270

In [26]:
data1 = {
    "list1": [420, 380, 390],
    "list2": [50, 40, 45]
}

df_1 = pd.DataFrame(data1)

df_1

   list1  list2
0    420     50
1    380     40
2    390     45

In [32]:
einnahmen = {"Tag 1": 450, "Tag 2": 1210, "Tag 3": 760, "Tag 4": 950, "Tag 5": 350}

In [33]:
df_4 = pd.DataFrame([verkaeufe,einnahmen], index = ["Verkäufe", "Einnahmen"])

In [34]:
df_4

           Tag 1  Tag 2  Tag 3  Tag 4  Tag 5
Verkäufe     120    330    250    270    NaN
Einnahmen    450   1210    760    950  350.0

In [35]:
df_4_transposed = df_4.T

In [36]:
df_4_transposed

       Verkäufe  Einnahmen
Tag 1     120.0      450.0
Tag 2     330.0     1210.0
Tag 3     250.0      760.0
Tag 4     270.0      950.0
Tag 5       NaN      350.0

In [37]:
df_4_transposed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Tag 1 to Tag 5
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Verkäufe   4 non-null      float64
 1   Einnahmen  5 non-null      float64
dtypes: float64(2)
memory usage: 292.0+ bytes

In [38]:
df_4_transposed.describe()

        Verkäufe    Einnahmen
count    4.00000     5.000000
mean   242.50000   744.000000
std     88.45903   354.090384
min    120.00000   350.000000
25%    217.50000   450.000000
50%    260.00000   760.000000
75%    285.00000   950.000000
max    330.00000  1210.000000

In [41]:
df_4_transposed.Verkäufe

Tag 1    120.0
Tag 2    330.0
Tag 3    250.0
Tag 4    270.0
Tag 5      NaN
Name: Verkäufe, dtype: float64

In [42]:
df_4_transposed["Verkäufe"]

Tag 1    120.0
Tag 2    330.0
Tag 3    250.0
Tag 4    270.0
Tag 5      NaN
Name: Verkäufe, dtype: float64

In [43]:
type(df_4_transposed.Verkäufe)

pandas.core.series.Series

In [44]:
type(df_4_transposed["Verkäufe"])

pandas.core.series.Series

In [45]:
df_4_transposed.columns

Index(['Verkäufe', 'Einnahmen'], dtype='object')

In [46]:
df_4_transposed.columns.to_list()

['Verkäufe', 'Einnahmen']

In [47]:
df_4_transposed.index

Index(['Tag 1', 'Tag 2', 'Tag 3', 'Tag 4', 'Tag 5'], dtype='object')

In [48]:
df_4_transposed.index.to_list()

['Tag 1', 'Tag 2', 'Tag 3', 'Tag 4', 'Tag 5']

In [53]:
df = pd.read_csv("checkout.csv")

In [56]:
df[:10]

,usageclass,checkouttype,materialtype,checkoutyear,checkoutmonth,checkouts,title,isbn,creator,subjects,publisher,publicationyear
0,Digital,OverDrive,EBOOK,2018,1,22,Enemy of the State,NaN,Vince Flynn,"Fiction, Literature, Thriller","Simon & Schuster, Inc.",2017
1,Digital,Hoopla,TELEVISION,2018,1,1,Newspaper Mom / Cucumber in Rio / Donut Raffle,NaN,NaN,Children's,DHX Media,NaN
2,Physical,Horizon,SOUNDDISC,2018,1,1,Mono / the Mavericks.,NaN,Mavericks (Musical group),Country music 2011 2020,"Valory,",[2015]
3,Digital,OverDrive,EBOOK,2018,1,2,Anna Karenina,NaN,Leo Tolstoy,"Classic Literature, Fiction, Literature","Penguin Group (USA), Inc.",2009
4,Digital,OverDrive,EBOOK,2018,1,1,"Dragon: Vlad Series, Book 8",NaN,Steven Brust,"Fantasy, Fiction",Macmillan Publishers,2015
5,Digital,OverDrive,EBOOK,2018,1,1,Little Dorrit,NaN,Charles Dickens,"Classic Literature, Fiction, Literature","Random House, Inc.",2012
6,Digital,OverDrive,EBOOK,2018,1,2,The Inside Out Man,NaN,Fred Strydom,"Fiction, Horror, Suspense, Thriller",Lightning Source Inc,2017
7,Physical,Horizon,BOOK,2018,2,1,Spain : a history / edited by Raymond Carr.,NaN,NaN,Spain History,"Oxford University Press,",2000.
8,Digital,OverDrive,EBOOK,2018,2,1,Krik? Krak!,NaN,Edwidge Danticat,"Fiction, Literature, Short Stories","Random House, Inc.",2013
9,Digital,OverDrive,AUDIOBOOK,2018,2,1,Cleopatra (Unabridged),NaN,H. Rider Haggard,"Fiction, Literature","Blackstone Audio, Inc.",2008

In [57]:
!head -1 rohstoffe.csv

BibliographyType,ISBN,Identifier,Author,Title,Journal,Volume,Number,Month,Pages,Year,Address,Note,URL,Booktitle,Chapter,Edition,Series,Editor,Publisher,ReportType,Howpublished,Institution,Organizations,School,Annote,Custom1,Custom2,Custom3,Custom4,Custom5

In [58]:
df_ff = pd.read_json("ff.json")

In [59]:
df_ff

,type,id,tags,intraHash,interHash,label,user,description,date,changeDate,...,adsurl,adsnote,__markedentry,citeulike-article-id,citeulike-linkout-2,citeulike-linkout-1,priority,posted-at,citeulike-linkout-0,archiveprefix
0,Publication,https://www.bibsonomy.org/bibtex/2e4d3d9167bde...,"[dnb, Tiere_Zoologie]",e4d3d9167bde886b1da5a534dba75abf,b91b160169a24504a1f84dd16c967418,Making the most of phylogeny: Unique adaptatio...,genealogie,,2015-09-08 02:08:21,2015-09-08 02:20:57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Publication,https://www.bibsonomy.org/bibtex/2bc273419c14e...,"[dnb, Gesundheit, Medizin]",bc273419c14ea28bed69ce459c3b37f3,291483a218bf98a4253b94302cd5f660,Verhalten des Faktor-VIII-assoziierten Faktor-...,genealogie,,2015-09-09 09:01:25,2015-09-09 09:01:25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Publication,https://www.bibsonomy.org/bibtex/29a073e7f1681...,"[belletristik, inhaltserschliessung]",9a073e7f1681b748f503a436652d4034,834114430bb8fddd2e92bd2a031261c4,Die Erschließung belletristischer Literatur in...,lepsky,,2018-11-04 16:52:12,2018-11-04 16:52:12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Publication,https://www.bibsonomy.org/bibtex/261c570b39f40...,"[da2, ea]",61c570b39f4017fd7fa70c7b89041187,10726ccc51c7dff3c46db3d62c108371,Proseminar: Genetische und Evolutionäre Algori...,apo,,2008-10-17 13:23:57,2008-10-17 13:23:57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Publication,https://www.bibsonomy.org/bibtex/221a4ddd18f65...,[fachreferat.germanistik],21a4ddd18f65a463794791a88f14c290,92f2ad8b16d51624b2ecb0d0053b6a93,Das Institut für Deutsche Sprache in Mannheim ...,voss,Seminararbeit_Foerster_Frank_Malis07.pdf (appl...,2012-09-11 12:33:15,2012-09-11 12:35:32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Publication,https://www.bibsonomy.org/bibtex/2d3eb21edf853...,"[emission, star, formation, outflows]",d3eb21edf853b1e3689fed7dfc001314,7cc2153506a75c75d1fc9445d9f47122,The SINS/zC-SINF survey of z~2 galaxy kinemati...,miki,[1207.5897] The SINS/zC-SINF survey of z~2 gal...,2012-07-26 14:55:06,2012-07-26 14:55:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Publication,https://www.bibsonomy.org/bibtex/2c7a9053e5b4b...,"[imported, myown, cctb, alexanderkeller, mbd]",c7a9053e5b4b64e4bf4a9a1de4358388,a6805416451a2a2b586f0d88e757eeca,Standard methods for pollen research,a.keller81,,2021-12-09 11:08:49,2021-12-09 11:21:21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Publication,https://www.bibsonomy.org/bibtex/2c7a9053e5b4b...,"[cctb, markusankenbrand, alexanderkeller, mbd]",c7a9053e5b4b64e4bf4a9a1de4358388,a6805416451a2a2b586f0d88e757eeca,Standard methods for pollen research,iimog,,2022-01-03 10:18:09,2022-01-03 10:18:09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Publication,https://www.bibsonomy.org/bibtex/297114b2f3694...,"[imported, 14MAST, astronomía]",97114b2f3694bbdc635bf429ae395814,811a065a935139d96ec2f1ddf10f8bb2,The Galaxy Evolution Explorer,osso73,,2019-11-04 18:50:55,2019-11-08 09:39:11,...,https://ui.adsabs.harvard.edu/\#abs/2003SPIE.4...,Provided by the SAO/NASA Astrophysics Data System,oriol:6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,Publication,https://www.bibsonomy.org/bibtex/216a04c8f02f1...,"[bdecay,, review]",16a04c8f02f1c6b6361f3078e4de778f,02a95a2579d780d98dda252e31c7f5da,The Physics of the B Factories,cmcneile,,2019-02-23 22:09:48,2019-02-23 22:15:27,...,NaN,NaN,NaN,13242048.0,http://dx.doi.org/10.1140/epjc/s10052-014-3026-9,http://arxiv.org/pdf/1406.6311,2.0,2014-06-25 10:47:31,http://arxiv.org/abs/1406.6311,arXiv

In [60]:
df_ff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 46 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  114 non-null    object
 1   id                    114 non-null    object
 2   tags                  114 non-null    object
 3   intraHash             114 non-null    object
 4   interHash             114 non-null    object
 5   label                 114 non-null    object
 6   user                  114 non-null    object
 7   description           114 non-null    object
 8   date                  114 non-null    datetime64[ns]
 9   changeDate            114 non-null    object
 10  count                 114 non-null    int64
 11  pub-type              114 non-null    object
 12  year                  114 non-null    int64
 13  url                   114 non-null    object
 14  author                114 non-null    object
 15  authors               114 non-null    object
 16  dnbtitleid            18 non-null     object
 17  bibtexKey             114 non-null    object
 18  abstract              17 non-null     object
 19  pages                 74 non-null     object
 20  ee                    52 non-null     object
 21  booktitle             33 non-null     object
 22  publisher             43 non-null     object
 23  isbn                  27 non-null     object
 24  editor                14 non-null     object
 25  editors               14 non-null     object
 26  journal               51 non-null     object
 27  number                34 non-null     object
 28  _originaltype         1 non-null      object
 29  _originalcomment      1 non-null      object
 30  volume                55 non-null     object
 31  series                6 non-null      object
 32  issn                  7 non-null      object
 33  doi                   25 non-null     object
 34  eprint                4 non-null      object
 35  note                  5 non-null      object
 36  adsurl                1 non-null      object
 37  adsnote               1 non-null      object
 38  __markedentry         1 non-null      object
 39  citeulike-article-id  1 non-null      float64
 40  citeulike-linkout-2   1 non-null      object
 41  citeulike-linkout-1   1 non-null      object
 42  priority              1 non-null      float64
 43  posted-at             1 non-null      object
 44  citeulike-linkout-0   1 non-null      object
 45  archiveprefix         1 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(2), object(41)
memory usage: 41.1+ KB

In [61]:
df_ff.keys()

Index(['type', 'id', 'tags', 'intraHash', 'interHash', 'label', 'user',
       'description', 'date', 'changeDate', 'count', 'pub-type', 'year', 'url',
       'author', 'authors', 'dnbtitleid', 'bibtexKey', 'abstract', 'pages',
       'ee', 'booktitle', 'publisher', 'isbn', 'editor', 'editors', 'journal',
       'number', '_originaltype', '_originalcomment', 'volume', 'series',
       'issn', 'doi', 'eprint', 'note', 'adsurl', 'adsnote', '__markedentry',
       'citeulike-article-id', 'citeulike-linkout-2', 'citeulike-linkout-1',
       'priority', 'posted-at', 'citeulike-linkout-0', 'archiveprefix'],
      dtype='object')